#backbutton {
    font-size: 1rem;
}

.header {
    background-color: rgb(23, 104, 201);
    color: rgb(255, 255, 255);
    height: 8vh;
}

.profileheader {
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.button {
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.link-black {
    color: black;
}

.link-black:hover {
    color:black;
}

.button:hover {
    background-color: rgb(23, 104, 201);
    border: none;
}

#signout {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid rgb(23, 104, 201);
}

#signout:hover {
    border: 4px solid rgb(23, 104, 201);
}

.dashboard-block {
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}

.panel-select {
    color: rgb(23, 104, 201);

}

.active-line {
    background-color: rgb(23, 104, 201);
    height: 4px;
    display: inline;
    padding-right: 5px;
}

#searchjobs {
    background-color: rgb(255, 255, 255);
    color: rgb(23, 104, 201);
}

.search-div {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.hidden {
    display: none !important;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .visible {
    display: flex;
    opacity: 0.3s;
  }






